.root {
    -fx-background-color: #263238;
}

.label {
    -fx-text-fill: #ECEFF1;
    -fx-font-size: 20pt;
}

.chart-pie-label {
    -fx-fill: #ECEFF1;
    -fx-font-size: 10pt;
}

.chart-pie-label-line {
    -fx-stroke: #ECEFF1;
    -fx-fill: #8b4513;
}

.chart-legend {
    -fx-background-color: #263238;
}

#navigateLabel {
    -fx-font-size: 12pt;
}

#descriptionLabel {
    -fx-font-size: 15pt
}

#contributorsLabel {
    -fx-font-size: 20pt
}

#contributor1Label {
    -fx-font-size: 15pt
}

#contributor2Label {
    -fx-font-size: 15pt
}

#userHandTypeLabel {
    -fx-font-size: 20pt
}

#computerHandTypeLabel {
    -fx-font-size: 20pt;
}

#resultLabel {
    -fx-font-size: 20pt;
}

#statisticsLabel {
    -fx-font-size: 15pt;
}

.button {
    -fx-background-color: #607D8B;
    -fx-font-size: 15pt;
    -fx-text-fill: #ECEFF1;
    -fx-border-width: 1;
}

.button:focused {
    -fx-border-color: #607D8B;
    -fx-font-size: 16pt;
}

.button:hover {
    -fx-background-color: #455A64;
}

.button:pressed, .button:default:hover:pressed {
    -fx-background-color: #ECEFF1;
    -fx-text-fill: #607D8B;
}