.root {
    -fx-background-color: #263238;
}

.label {
    -fx-text-fill: #ECEFF1;
    -fx-font-size: 30pt;
}

#descriptionLabel {
    -fx-font-size: 15pt
}

#userHandTypeLabel {
    -fx-font-size: 20pt
}

#computerHandTypeLabel {
    -fx-font-size: 20pt;
}

#resultLabel {
    -fx-font-size: 20pt;
}

#statisticsLabel {
    -fx-font-size: 15pt;
}

.button {
    -fx-background-color: #607D8B;
    -fx-font-size: 16pt;
    -fx-text-fill: #ECEFF1;
}

.button:hover {
    -fx-background-color: #455A64;
}

.button:pressed, .button:default:hover:pressed {
  -fx-background-color: #ECEFF1;
  -fx-text-fill: #607D8B;
}