.root {
    -fx-background-color: #CFD8DC;
}

.label {
    -fx-text-fill: #263238;
    -fx-font-size: 20pt;
}

.chart-pie-label {
    -fx-fill: #263238;
    -fx-font-size: 10pt;
}

.chart-pie-label-line {
    -fx-fill: #263238;
}

.chart-legend {
    -fx-background-color: #CFD8DC;
}

.button {
    -fx-background-color: #607D8B;
    -fx-font-size: 15pt;
    -fx-text-fill: #ECEFF1;
    -fx-border-width: 1;
}

.button:focused {
    -fx-border-color: #607D8B;
    -fx-font-size: 16pt;
}

.button:hover {
    -fx-background-color: #455A64;
}

.button:pressed, .button:default:hover:pressed {
    -fx-background-color: #ECEFF1;
    -fx-text-fill: #607D8B;
}